/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-height: 100svh;
}

:root {
  --purple-500: hsl(259, 100%, 65%);
  --red-400: hsl(0, 100%, 67%);

  --white: hsl(0, 100%, 100%);
  --grey-100: hsl(0, 0%, 94%);
  --grey-200: hsl(0, 0%, 86%);
  --grey-500: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 0%);

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --font-normal: normal;
  --font-italic: italic;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-normal);

  background-color: var(--grey-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-height: 100svh;

  padding: 1rem;
}

/* Utility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.container section {
  background-color: var(--white);
  padding: 3rem 1.5rem;
  border-radius: 1.5rem;
  border-bottom-right-radius: 6.25rem;
}

.container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.form-group label {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--grey-500);
}

.form-group input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-200);

  padding: 0.75rem 1rem;

  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  color: var(--black);
  caret-color: var(--purple-500);
  background-color: transparent;

  transition: border-color 280ms ease;
}

.form-group input::placeholder {
  opacity: 0.5;
  color: var(--black);
}

.form-group input:focus-visible {
  outline: 2px solid var(--purple-500);
  outline-offset: 2px;
  border-color: var(--purple-500);
}

.form-group input:focus:not(:focus-visible) {
  outline: none;
}

.form-group output {
  font-size: 0.75rem;
  font-weight: var(--fw-normal);
  font-style: var(--font-italic);
  color: var(--red-400);

  position: absolute;
  left: 0;
  bottom: -24px;
  display: none;
}

.form-group.error label {
  color: var(--red-400);
}

.form-group.error input {
  border-color: var(--red-400);
}

.form-group.error input:focus-visible {
  outline-color: var(--red-400);
  border-color: var(--red-400);
}

.form-group.error output {
  display: block;
}

.btn-container {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  height: 1px;
  background-color: var(--grey-200);
  z-index: 1;
}

.btn-container button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: var(--purple-500);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 2;

  cursor: pointer;
  transition: background-color 280ms ease;
}

.btn-container button:hover {
  background-color: var(--black);
}

.btn-container button:focus-visible {
  outline: 2px solid var(--purple-500);
  outline-offset: 2px;
  background-color: var(--black);
}

.btn-container button:focus:not(:focus-visible) {
  outline: none;
}

form button img {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.results {
  margin-top: 2rem;
}

.results p {
  font-size: 3.5rem;
  font-weight: var(--fw-extra-bold);
  font-style: var(--font-italic);
  line-height: 1.1;
  letter-spacing: -2px;
  color: var(--black);
}

.results p output {
  color: var(--purple-500);
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 40rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 52.5rem;
  }

  .container section {
    padding: 3.5rem;
    border-radius: 1.5rem;
    border-bottom-right-radius: 12.5rem;
  }

  .container form {
    grid-template-columns: repeat(3, 10rem) 1fr;
    gap: 0 2rem;
  }

  .form-group label {
    font-size: 0.875rem;
  }

  .form-group input {
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
  }

  .form-group output {
    font-size: 0.875rem;
  }

  .btn-container {
    justify-content: flex-end;
    grid-column: 1 / -1;
  }

  .btn-container button {
    width: 6rem;
    height: 6rem;
  }

  form button img {
    width: 2.75rem;
    height: 2.75rem;
  }

  .results {
    margin: 0;
  }

  .results p {
    font-size: 6.5rem;
  }
}
